.flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.contact {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 22px;
  padding-top: 10%;
  a {
    text-decoration:none;
    color: $black;
  }
}


.email {
  color: #6e6e6e;
}

.full-container {
  padding-top: 30px;
  padding-bottom: 30px;
  min-height: calc(100vh - 210px);
  position: relative;
}

.margin {
  margin: 30px 0;
}

.container {
  margin-bottom: 25px;
}
