.flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.contact {
  font-size: 22px;
  display: flex;
  a {
    text-decoration:none;
    color: $black;
  }
}


.email {
  color: #6e6e6e;
}

.full-container {
  min-height: calc(100vh - 210px);
  position: relative;
}

.margin {
  margin: 30px 0;
}

.container {
  margin-bottom: 25px;
}

.laura-contact {
  height: 73vh;
  width: 35vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #565656;
  p {
    color: white;
  }
}

.contact-left {
  padding-top: 3%;
  width: 65vw;
}

.laura-contact-xs {
  background-color: #565656;
  position: relative;
  margin-top: 20px;
  padding-bottom: 40px;
  padding-top: 25px;
  p {
    color: white;
  }
}

.banner-contact {
  height: 340px;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#form-contact {
  margin-right: 20%;
  display: flex;
  margin-bottom: 0;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  input {
    color: #686868;
    border: none;
    border-bottom: 1px solid #686868;
    margin-bottom: 12px;
  }
}


.input-p {
  color: #686868;
  font-size: 19px;
  margin: 0;
}

#sub-btn {
  background-color: #565656;
  color: white !important;
  margin-top: 30px;
  font-size: 18px;
  padding: 5px 25px;
}

.p-contact {
  margin-bottom: 32px;
  color:#686868;
  font-size: 20px;
}

.photo-contact {
  top: -85px;
  position: absolute;
  display: block;
  margin: auto;
  height: 200px;
  width: 165px;
  object-fit: cover;
}

.margin-top {
  margin-top: 35px;
}

.contact-title {
  color: white;
  font-size: 55px;
  border-bottom: 1px solid white;
  padding-bottom: 15px;
}

.margin-lg {
  margin-bottom: 150px;
}
