

.photo-equipe {
  height: 400px;
  width: 350px;
  object-fit: cover;
  margin-bottom: 50px;
  margin-top: 50px;
}


.equipe {
  padding: 30px;
  background: rgba(230,230,230,0.4);
  color: $black;
  margin-bottom: 70px;
  margin-top: 30px;
}

.photo-equipe-sm {
  height: 320px;
  width: 320px;
  object-fit: cover;
  margin: 50px auto;
  display: block;
}

.photo-contact {
  display: block;
  margin: auto;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  object-fit: cover;
}

.member {
  display: flex;
  align-items: center;
  margin-top: 30px;
  &_left {
    margin-left: 5%;
  }
  &_right {
    margin-right: 5%;
  }
  &_description {
    width: 60%;
    p {
      font-size: 16px;
    }
    h2 {
      font-weight: bold;
      color: #707070;
    }
    hr {
    border-bottom: 1px solid #484848;
    margin: 25px 0;
    width: 50%;
    }
  }
}

.memberxs_description {
  margin: 10px 15px 95px 30px;  p {
  font-size: 14px;
  }
  h2 {
    font-size:24px;
    font-weight: bold;
  }
}

.title-mob {
  font-size: 24px;
  margin: 20px auto;
}
