
.link-folder {
  position: absolute;
  top:0;
  bottom: 0;
  right: 0;
  z-index: 4;
  background-color: transparent;
  height: 350px;
  width: 100%;
}

.bouton-retour {
  i {
    padding-right: 10px;
  }
  font-size: 16px;
  margin-left: 15px;
  font-family: Playfair Display;
  color: black;
  &:hover {
    text-decoration:none;
    color: grey;
  }
}



.logo-container {
  perspective: 700;
  height: 350px;
  margin: 10px 10px;
}

.front, .back {
  width: 175px;
  height: 350px;
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
}

.logoprojects {
  transition: all 0.9s ease;
  transform-style: preserve-3d;
}

.logoprojects {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoprojects:hover {
  transform: rotateY(180deg);
  .front h2 {
    display:none;
  }
}

.imagesize {
  width: 320px;
  height: 320px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}

.imagesize-filtered {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  filter: grayscale(100%) opacity(0.9) contrast(0.2);
}

.front h2 {
  text-align: center;
  font-size:26px;
  backface-visibility: hidden;
  position: absolute;
  top: 33%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 45%;
  word-wrap: break-word;
  color: white;
}


.back p {
  font-size:24px;
  width: 85%;
  position: absolute;
  top: 45%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 100%;
  color: white;
}

.absolute-mobile {
  text-align: center;
  font-size:26px;
  position: absolute;
  top: 35%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 45%;
  word-wrap: break-word;
  color: white;
}

.card-mobile-folder {
  position: relative;
  margin-bottom: 25px;
}
