
.link-folder {
  position: absolute;
  top:0;
  bottom: 0;
  right: 0;
  z-index: 4;
  background-color: transparent;
  height: 320px;
  width: 100%;
}

.bouton-retour {
  i {
    padding-right: 10px;
  }
  font-size: 16px;
  margin-left: 15px;
  font-family: Playfair Display;
  color: black;
  &:hover {
    text-decoration:none;
    color: grey;
  }
}



.logo-container {
  perspective: 700;
  height: 320px;
  margin: 10px 10px;
}

.front, .back {
  width: 175px;
  height: 320px;
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
}

.logoprojects {
  transition: all 0.9s ease;
  transform-style: preserve-3d;
}

.logoprojects {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoprojects:hover {
  transform: rotateY(180deg);
  .front h2 {
    display:none;
  }
}

.imagesize {
  width: 320px;
  height: 320px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}

.imagesize-filtered {
  width: 320px;
  height: 320px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  filter: grayscale(100%) opacity(0.9) contrast(0.2);
}

.front h2 {
  text-align: center;
  font-size:26px;
  backface-visibility: hidden;
  position: absolute;
  top: 33%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 45%;
  word-wrap: break-word;
  color: white;
}


.back p {
  font-size:24px;
  width: 85%;
  position: absolute;
  top: 45%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 100%;
  color: white;
}

.absolute-mobile {
  text-align: center;
  font-size:26px;
  position: absolute;
  top: 35%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 45%;
  word-wrap: break-word;
  color: white;
}

.card-mobile-folder {
  position: relative;
  margin-bottom: 25px;
}

.card-folder {
  background: white;
  margin: 30px 10px;
  height: 250px;
  display: flex;
  box-shadow: 0px 2px 4px #e1e1e1;
  align-items: center;
  justify-content: space-between;
  p {
    font-size: 15px;
    color: #9b9b9b;
    font-weight: bold;
    letter-spacing: 0.1em;
  }
  h2 {
    font-size: 30px;
    font-weight: bold;
  }
  h3 {
    font-size: 16px;
    color: grey;
    font-family: Quicksand;
    margin: 0;
    letter-spacing: 0.1em;
  }
}

.img-card-folder {
  height: 230px;
  width: 280px;
  object-fit: cover;
  margin-right: 10px;
}

.img-card-folder-xs {
  height: 230px;
  width: 150px;
  object-fit: cover;
  margin-right: 10px;
}

.description-card {
  margin: 12px 30px;
}

.description-card-xs {
  margin: 12px 20px;
}

.hr-card {
  margin-right: 20px;
  border: 0;
  width: 40px;
  border-top: 1px solid #c5c5c5;
}

.card-link {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  height: 250px;
}

.background-grey {
  background:#f9f9f9;
  padding-top: 30px;
}


