// Specific CSS for your home-page

body {
  background: white;
}

.carousel {
  height: calc(100vh - 210px);
}

.carousel-inner {
  height: calc(100vh - 210px);
}

.carousel-inner > .item > img {
  object-fit: cover;
  width: 100%;
  height: calc(100vh - 210px);
  background:linear-gradient(rgba(50,50,50,0.2), rgba(50,50,50,0.1));
}


.glyphicon.glyphicon-chevron-right {
  margin-right: -90px;
}

.glyphicon.glyphicon-chevron-left {
  margin-left: -90px;
}


.form-home {
  font-size: 14px;
}

.formulaires {
  background-color: #dedede;
  padding: 15px;
  font-size: 14px;
  font-weight: bold;
  margin: 10px;
}
