// Specific CSS for your home-page

body {
  background: white;
}

.carousel {
  height: calc(100vh - 210px);
}

.carousel-inner {
  height: calc(100vh - 210px);
}

.carousel-inner > .item > img {
  object-fit: cover;
  width: 100%;
  height: calc(100vh - 210px);
  background:linear-gradient(rgba(50,50,50,0.2), rgba(50,50,50,0.1));
}


.glyphicon.glyphicon-chevron-right {
  margin-right: -90px;
}

.glyphicon.glyphicon-chevron-left {
  margin-left: -90px;
}


.form-home {
  font-size: 14px;
}

.formulaires {
  background-color: #dedede;
  padding: 15px;
  font-size: 14px;
  font-weight: bold;
  margin: 10px;
}

.waste {
  img {
    width: 96%;
    margin-right: 80px;
  }
  margin: 50px;
  p {
    margin-top: 25%;
  }
}

.contact-btn {
  margin: 40px auto;
  height: 60px;
  width: 200px;
  background-color: grey;
  border-radius: 5px;
  padding:  15px 10px;
  text-align: center;
  a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  &:hover {
    background-color: #9f9d9d;
  }
}

.carousel-control.left {
  background-image: none;
}

.carousel-control.right {
  background-image: none;
}

#mc_embed_signup {
  margin: 25px 15px;
  label {
    font-size: 20px;
    color: #424242;
    margin-top: 4%;
  }
  input {
    margin-top: 10px;
  }
}

#mc-embedded-subscribe {
  text-align: center;
  background: #dc5151;
  color: white;
  font-weight: bold;
  border-radius: 3px;
  padding: 7px 25px;
  box-shadow: none;
  border: none;
}

#mce-EMAIL {
  border-radius: 4px;
  border: 1px solid #c4c3c3;
  width: 100%;
  padding: 3%;
  &:focus {
    outline: none;
  }
}
