// Specific CSS for your home-page

body {
  background: white;
}


.carousel {
  height: calc(100vh - 320px);
}

.carousel-2-inner {
  height: 100px !important;
}

.carousel-2 {
  height: 100px !important;
}

.carousel-2-inner > .item > img {
  object-fit: cover;
  width: 100% !important;
  height: 100px !important;
}

.carousel-inner {
  height: calc(100vh - 320px);
  width: 85%;
  margin: auto;
}

.carousel-inner > .item > img {
  object-fit: cover;
  width: 100%;
  height: calc(100vh - 320px);
  background:linear-gradient(rgba(50,50,50,0.2), rgba(50,50,50,0.1));
}


.glyphicon.glyphicon-chevron-right {
  margin-right: 10px;
}

.glyphicon.glyphicon-chevron-left {
  margin-left: 10px;
}


.form-home {
  font-size: 14px;
}

.formulaires {
  background-color: #dedede;
  padding: 15px;
  font-size: 14px;
  font-weight: bold;
  margin: 10px;
}

.waste {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  img {
    width: 315px;
  }
  margin: 130px 0px 90px 0px;
  p {
    margin-top: 3%;
    font-size: 17px;
  }
}

.home-article-photo {
  width: 100%;
  margin: auto;
}

.contact-btn {
  margin: 75px auto;
  height: 60px;
  width: 200px;
  background-color: #CD5A56;
  border-radius: 5px;
  padding:  15px 10px;
  text-align: center;
  a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  &:hover {
    background-color: #e78581;
  }
}

.carousel-control.left {
  background-image: none;
}

.carousel-control.right {
  background-image: none;
}

#mc_embed_signup {
  margin: 70px 0px;
  label {
    font-size: 18px;
    color: white;
    margin-top: 4%;
  }
  input {
    margin-top: 10px;
  }
}

#mc-embedded-subscribe-form {
  background-color: #CD5A56;
  padding: 30px 10px;
}

#mc-embedded-subscribe {
  text-align: center;
  background: #eda2a2;
  color: white;
  font-weight: bold;
  border-radius: 3px;
  padding: 7px 25px;
  box-shadow: none;
  border: none;
}

#mce-EMAIL {
  border-radius: 4px;
  border: 1px solid #c4c3c3;
  width: 100%;
  padding: 3%;
  &:focus {
    outline: none;
  }
}

.logo-home {
  width: 95px;
  margin-bottom: 25px;
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }
}

.images-partners {
  p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 35px;
  }
  margin-bottom: 30px;
}

.home-small {
  width: 30%;
  height: 280px;
  object-fit: cover;
}

.big-photo-home {
  width: 100%;
  height: 450px;
  object-fit:cover;
  display: block;
  margin: 30px auto;
}

.small-pictures {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.container-photo {
  width: 70%;
  margin: auto;
}


.waste-mobile {
  font-size: 15px;
  margin : 10px 30px;
}

.logo-waste-mobile {
  width: 250px;
  text-align: center;
  margin: 35px auto;
  display:block;
}
