

.card-port {
  position: relative;
   &:hover{
  cursor: pointer;
  transition: ease 1s;
    .titre-port {
    color: white;
    transition: ease 1s;
    }
    .carre {
    background-color:rgba(40,40,40,0.5);
    width: 105%;
    height: calc(100vh - 210px);
    transition: ease 1s;
    }
  }
}

.carre {
  background-color:rgba(40,40,40,0);
  position: absolute;
  top: 0;
  right: 0;
  left:0;
  color: rgba(0,0,0,0);
}

.titre-port {
  position: absolute;
  top: 230px;
  left: 36%;
  width: 195px;
  color: rgba(0,0,0,0);
  font-family: Open Sans;
  font-size: 30px;
  z-index:2;
  line-height: 1.5em;
}

.photo-portfo {
  height: calc(100vh - 210px);
  width: 105%;
  object-fit: cover;
}


.fa-trash-o {
  position: absolute;
  bottom: 70px;
  right: 3px;
}


.client-name {
  padding-top: 4px;
  background-color: rgba(50,50,50, 0.7);
  position: absolute;
  height: 35px;
  width: 295px;
  left: 6px;
  top: 240px;
  text-align: center;
  color: white;
  transition-duration: 0.6s;
}

.photo-light {
  width: 325px;
  margin-top: 19px;
  margin-bottom: 30px;
  height: 250px;
  position: relative;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
}

.grosse-div {
    position: relative;
}



.form-cache {
  margin-left: 25px;
  margin-top: 50px;
  margin-bottom: 25px;
}

#thumbs a {
    box-shadow: none !important;
    border: none !important;
    border-radius: 2px !important;
    margin: 6px 6px 40px;
    width: 100% !important;
    height: 100% !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition-duration: 0.6s;
}


#thumbs {
    width: 90% !important;
    margin: 60px auto 35px;
    text-align: center;
    width: 325px;
    margin-top: 19px;
    margin-bottom: 30px;
    min-height: 100vh !important;
    position: relative;
}

.inner {
  width: 100%;
}

.outer {
    /* set your width and height here on the outer div */
    margin-bottom: 40px;
    width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden; /* comment this line to see what happens behind the scenes */
}

.outer:hover .inner {
    transform: scale(1.1);
}

.outer:hover .client-name {
    transform: scale(1.1);
}

#thumbs a:after {
    background-color: transparent !important;
    border-radius: 0px !important;
    bottom: 0px !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    color: transparent !important;
}

#prevArrow {
   background-image: asset-url('arrow-left.png') !important;
   background-size: cover !important;
}

#nextArrow {
   background-image: asset-url('arrow-right.png') !important;
   background-size: cover !important;
}

#gallerySlider .placeholder img {
    max-height: 95% !important;
    max-width: 95% !important;
}
