.studio {
  margin-left: 5%;
  margin-right: 5%;
}

.box-prix {
    display: block;
    margin: 35px auto;
    width: 270px;
    border: 1px dashed #D9D9DB;
    height: 75px;
    padding: 13px;
    text-align: center;
}

.studio-photo {
  object-fit: fill;
}

.photo-studio-xs {
  display: block;
  object-fit: cover;
  width: 310px;
  height: 280px;
  box-shadow: 1px 2px 1px #a6a6a6;
  margin: 10px auto;
}


.part-right {
  color: $black;
  font-family: Open Sans;
  width: 100%;
}

.part-left {
  margin: 30px 55px;
  width: 70%;
}

.metro {
  height: 30px;
  width: 55px;
  margin-bottom: 5px;
  margin-left: 5px;
}

.adresse {
  margin-top: 35px;
  color: #545353;
  line-height: 1em;
}

.bis {
  height: 65vh;
}

#myCarouselbis {
  height: 65vh;
  margin-left: 5%;
  margin-bottom: 5%;
   img {
    height: 65vh;
  }
}

#myCarouselxs {
  height: 200px;
}

.carousel-indicators .xs {
    bottom: -153px;
}

.glyphicon.glyphicon-chevron-left.lefti {
    margin-left: -30%;
}

.glyphicon.glyphicon-chevron-right.righti {
    margin-right: -30%;
}
