.box-prix {
    display: block;
    margin: 35px auto;
    width: 270px;
    border: 1px dashed #D9D9DB;
    height: 75px;
    padding: 13px;
    text-align: center;
}


.photo-studio {
  object-fit: cover;
  width: 700px;
  height: 530px;
}

.photo-studio-xs {
  display: block;
  object-fit: cover;
  width: 310px;
  height: 280px;
  box-shadow: 1px 2px 1px #a6a6a6;
  margin: 10px auto;
}


.part-right {
  color: $black;
  font-family: Quicksand;
}

.part-left {
  margin: 30px 55px;
}

.metro {
  height: 30px;
  width: 55px;
  margin-bottom: 5px;
  margin-left: 5px;
}

.adresse {
  margin-top: 35px;
  color: #545353;
  line-height: 1em;
}
