<div class="footer">

  <div class="left-foot">
    <p>Pixel et Béchamel est un studio de photographie culinaire vous accueillant à Paris. Équipé d’un grand espace de shooting et d’une cuisine, le studio rassemble une équipe de deux photographes, une styliste culinaire, un cuisinier, et une chef de projet.</p>
    <p style="font-size: 12px; color: grey;">COPYRIGHT © 2017 - PIXEL ET BECHAMEL </p>
  </div>
  <div class="footer-links">
    <a href="https://www.facebook.com/pixeletbechamel/?ref=br_rs" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
    <a href="https://www.instagram.com/pixeletbechamel/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
  </div>
  <div class="right-foot">
     <p>PIXEL ET BÉCHAMEL</p>
     <p>14, rue de la Chapelle 75018 Paris</p>
     <p>01 40 38 00 75 </p>
     <p><%= mail_to "studio@pixeletbechamel.com" %></p>
  </div>


</div>
