<h2 class="text-center"><strong>Mentions légales</strong></h2>

<div>
  <p><strong>Ce Site est édité par :</strong></p>
  <p>PIXEL ET BECHAMEL</p>
  <p>128 boulevard de Courcelles</p>
  <p>75017 Paris</p>
  <p>France</p>

  <p>Société par actions simplifiée au capital de 2.000 €.</p>
  <p>833 786 775 R.C.S. Paris</p>
  <p>N° TVA Intracommunautaire FR 94833786775</p>
  <p>Merci de lire attentivement cette notice légale avant de consulter ce Site.</p>
</div>

<div>
  <p><strong>ARTICLE 1 : OBJET</strong></p>
  <p>La présente notice a pour objet de définir les modalités selon lesquelles PIXEL ET BECHAMEL met à votre disposition le site et les modalités selon lesquelles vous accédez et utilisez ce site. Toute connexion au site est subordonnée au respect de la présente notice légale que PIXEL ET BECHAMEL se réserve de modifier ou de mettre à jour à tout moment. L’accès et l’utilisation du site entraînent votre acceptation de la présente notice légale et votre consentement aux pratiques de PIXEL ET BECHAMEL en matière de confidentialité et de protection des données à caractère personnel.</p>
</div>

<div>
  <p><strong>ARTICLE 2 : ACCES AU SITE</strong></p>
  <p>PIXEL ET BECHAMEL s’efforce de maintenir accessible le site, sans pour autant être tenu à aucune obligation d’y parvenir. Il est précisé qu’à des fins de maintenance, de mise à jour, et pour toute autre raison, notamment d’ordre technique ou juridique, l’accès au site pourra être modulé voire interrompu. PIXEL ET BECHAMEL n’est en aucun cas responsable de ces interruptions et des conséquences qui pourraient en découler pour vous.
  Vous vous engagez à ne pas accéder de manière frauduleuse au site.</p>
</div>


<div>
  <p> <strong>ARTICLE 3 : DROITS DE PROPRIETE INTELLECTUELLE</strong> </p>
  <p>Les contenus (notamment et non limitativement les informations, textes, graphiques, données, images, photos, visuels, vidéos et bande sonore, ainsi que la forme de tous ces éléments et du site lui-même) sont protégés au titre du droit d’auteur et/ou autres droits de propriété intellectuelle. Les contenus sont la propriété exclusive de leurs éditeurs respectifs. Toute copie, reproduction, représentation, exploitation, adaptation, altération, modification, traduction, diffusion, intégrale ou partielle, des contenus, qu’ils appartiennent à PIXEL ET BECHAMEL ou à un tiers qui a concédé des droits à PIXEL ET BECHAMEL, par quelque procédé que ce soit, est illicite à l’exception des droits limitatifs qui vous sont concédés à l’article 4 ci-dessous et/ou de la copie privée réservée à l’usage exclusif du copiste. Les contenus présentés dans ce site sont susceptibles de modification sans préavis et sont mis à disposition sans aucune garantie d’aucune sorte, expresse ou tacite et ne peuvent donner lieu à un quelconque droit à dédommagement. Les contenus sont protégés par copyright © PIXEL ET BECHAMEL ou copyright de ses partenaires. Les logos sont des marques déposées.</p>
</div>

<div>
  <p> <strong> ARTICLE 4 : UTILISATION DES CONTENUS</strong></p>
  <p>La SAS PIXEL ET BECHAMEL ne concède à l'utilisateur qu'une autorisation de consultation du contenu du site à titre personnel et privé, à l'exclusion de toute visualisation ou diffusion publique, de toute extraction et/ou reproduction à des fins commerciales, sauf accord préalable express écrit d’un représentant autorisé de la SAS PIXEL ET BECHAMEL.</p>
  <p>En conséquence, toute reproduction, représentation, traduction, adaptation, ou citation qu'elle soit intégrale ou partielle, quel que soit le procédé, est strictement interdite sans autorisation de la SAS PIXEL ET BECHAMEL ou de ses ayants droit ou ayants cause.</p>
  <p>De même, les dénominations, marques et autres signes distinctifs reproduits sur le présent Site, telles que « PIXEL ET BECHAMEL» sont des marques déposées et/ou des créations protégées par le droit de la propriété intellectuelle. Toute reproduction totale ou partielle de ces signes distinctifs sans l'autorisation expresse de leur titulaire (la SAS PIXEL ET BECHAMEL et/ou un de ses partenaires) est donc prohibée, et constitutive d’une contrefaçon passible de sanction pénale.
  Pour toute information et demande de reproduction d'un contenu paru sur le Site quel qu'en soit le support, comme pour toute autorisation de mise en place d'un hyperlien, l'utilisateur est invité à adresser sa demande par e-mail à l’adresse: studio@pixeletbechamel.com.</p>
</div>


<div>
  <p> <strong>ARTICLE 5 : COURRIERS ELECTRONIQUES</strong> </p>
  <p>Pour correspondre avec PIXEL ET BECHAMEL par courrier électronique, vous devez utiliser l’adresse courriel indiqué sur le site. Les réponses formulées par PIXEL ET BECHAMEL aux courriers électroniques, ainsi que l’accès au site et aux contenus ne peuvent être assimilés ou ne peuvent constituer la preuve de l’exercice d’une activité publicitaire, promotionnelle ou commerciale sur le territoire du pays où se situe l’internaute.</p>
</div>

<div>
  <p> <strong> ARTICLE 6 : PROTECTION DES DONNEES A CARACTERE PERSONNEL</strong></p>
  <p>D’une façon générale, vous pouvez visiter notre site sans avoir à décliner votre identité et à fournir des informations personnelles vous concernant. Cependant, PIXEL ET BECHAMEL peut parfois vous demander des informations, par exemple, pour répondre à une demande de votre part, vous fournir un service, traiter une commande, ou à des fins de marketing.
  Le présent Site contient des cookies. Les cookies sont des fichiers informatiques stockés sur le disque dur de l’ordinateur de l’utilisateur. Ils sont utilisés afin d’assurer la gestion du Site, ainsi que pour faciliter la navigation de l’utilisateur en adaptant ses recherches à ses besoins spécifiques. Un cookie ne permet pas d’identifier un utilisateur. En revanche, il enregistre des informations relatives à la navigation de son ordinateur sur le Site et les pages consultées, la date et l’heure de leur consultation, etc.. , auxquelles la SELARL Cheysson Marchadier aura accès lors de sa prochaine visite.
  L’utilisateur peut s’opposer à l'enregistrement de "cookies" en configurant son navigateur, ce qui pourra avoir pour conséquence un défaut de fonctionnement de la navigation sur le Site.
  Les données collectées par l’intermédiaire de notre site sont destinées à PIXEL ET BECHAMEL ainsi qu’à ses partenaires sélectionnés et/ou aux prestataires auxquels elle fait appel.
  Afin de vous offrir un meilleur service, PIXEL ET BECHAMEL recueille des données anonymes relatives à votre navigation sur notre site (pages consultées, date et heure de consultation…). PIXEL ET BECHAMEL peut se servir de ces données afin d’analyser des tendances ou d’établir des statistiques et des mesures d’audience du site. Nous vous informons que vous pouvez vous opposer à l’enregistrement de ces cookies. Cependant, si vous choisissez de refuser les cookies, vous pourrez ne pas être en mesure d’accéder à certaines parties de notre site.
  Concernant les données à caractère personnel que vous seriez amenés à nous communiquer, vous bénéficiez d’un droit d’accès, de rectification et de suppression, conformément à la loi française Informatique et Libertés n°78-17 du 6 janvier 1978, modifiée par la loi n°2004-810 du 6 août 2004.
  Notre site peut contenir des liens vers d’autres sites. Nous vous informons que PIXEL ET BECHAMEL ne partage pas vos données  à caractère personnel avec ces sites. Nous vous avisons que lorsque vous quittez notre site, vous pouvez être soumis à d’autres pratiques en matière de protection des données à caractère personnel, sur lesquelles PIXEL ET BECHAMEL n’a aucun contrôle et n’engage pas sa responsabilité.</p>
</div>

<div>
  <p> <strong> ARTICLE 7 : GARANTIE ET RESPONSABILITE</strong></p>
  <p>Les contenus diffusés sur le site sont fournis « en l’état » sans aucune garantie expresse ou tacite de quelque sorte que ce soit. PIXEL ET BECHAMEL se réserve le droit de modifier, corriger, interrompre et/ou supprimer les contenus ou l’accès au site à tout moment, sans préavis. PIXEL ET BECHAMEL ne pourra être tenu pour responsable en cas de contamination de vos matériels  informatiques résultant de la propagation d’un virus ou autres infections informatiques. Il vous appartient de prendre toutes les mesures appropriées de façon à protéger vos matériels informatiques.
  En aucun cas PIXEL ET BECHAMEL, ses employés, ses fournisseurs, ou les partenaires mentionnés dans le site ne peuvent être tenus responsables, au titre d’une action en responsabilité contractuelle, en responsabilité délictuelle ou de toute autre action, de tout dommage direct ou indirect, incident ou accessoire, ou de quelque nature qu’il soit ou de tout préjudice, notamment, de nature financière ou commerciale, résultant de l’utilisation du site ou d’une quelconque information obtenue sur le site.
  Le site peut contenir des liens simples ou profonds vers des sites partenaires de PIXEL ET BECHAMEL ou de tiers, avec pour les liens profonds l’autorisation de ces derniers. PIXEL ET BECHAMEL n’exerce aucun contrôle sur ces sites et n’assure, par conséquent, aucune responsabilité quant à leur accessibilité, pertinence, disponibilité, contenu, publicité, produits et/ou services disponibles sur ou à partir de ces sites. Ainsi, PIXEL ET BECHAMEL n’est aucunement responsable des dommages directs ou indirects pouvant survenir à l’occasion de votre accès ou utilisation du  site du partenaire ou encore en raison du non-respect de ce site à toute réglementation.</p>
  <p>L’utilisateur déclare avoir connaissance des caractéristiques et limites de l’utilisation de l’Internet ainsi que des risques liés à la sécurité des communications électroniques.
  Les informations fournies par l'exploitant du Site le sont à titre indicatif et ne sauraient dispenser l'utilisateur d'une analyse complémentaire et personnalisée. Si la SAS PIXEL ET BECHAMEL fait ses meilleurs efforts pour fournir un contenu fiable sur son Site, il ne saurait garantir l'exactitude, la complétude, l'actualité des informations diffusées sur son site.
  Les informations et/ou documents disponibles sur ce site sont susceptibles d’être modifiés à tout moment, et peuvent avoir fait l’objet de mises à jour. En particulier, ils peuvent avoir fait l’objet d’une mise à jour entre le moment de leur téléchargement et celui où l’utilisateur en prend connaissance.
  En conséquence, l'utilisateur reconnaît utiliser ces informations sous sa responsabilité exclusive.</p>
</div>

<div>
  <p> <strong>ARTICLE 8 : COMPETENCE JURIDICTIONNELLE ET LOI APPLICABLE</strong> </p>
  <p>Tout litige relatif au site, à la présente notice légale est porté devant le tribunal de Paris et est régi et analysé selon la législation française sur le fond, indépendamment des règles de conflit de lois. L’utilisation du site signifie l’accord express de l’utilisateur à l’application de la présente clause. Dans le cas où l’une des dispositions de cette notice légale serait jugée illégale, nulle ou inapplicable pour quelque raison que ce soit, elle serait considérée comme ne faisant pas partie de cette notice légale et n’affecterait pas la validité ni l’application des autres dispositions.</p>
</div>


<p>Directeur de publication : Laura Bregeon</p>
<p>Hébergement : OVH</p>
