  <div class="contact">
    <h1 class="text-center">PAGE EN CONSTRUCTION</h1>

    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="maud-contact text-center">
          <p>Maud ARGAÏBI</p>
          <p>06 26 74 48 15</p>
          <p class="email"><%= mail_to "maud.a@pixeletbechamel.com" %></p>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="laura-contact text-center">
          <p>Laura BREGEON</p>
          <p>06 18 03 27 55</p>
          <p class="email"><%= mail_to "laura.b@pixeletbechamel.com" %></p>
        </div>
      </div>
    </div>
  </div>
