<div class="contact flex">
  <div class="maud-contact text-center">
    <p>Maud ARGAÏBI</p>
    <p>06 26 74 48 15</p>
    <p>maud.a@pixeletbechamel.com</p>
  </div>
  <div class="laura-contact text-center">
    <p>Laura BREGEON</p>
    <p>06 18 03 27 55</p>
    <p>laura.b@pixeletbechamel.com</p>
  </div>
</div>
