<div class="full-screen-container hidden-xs hidden-sm" style="background-image: linear-gradient(45deg, rgba(230,230,230,0.8) 43%, rgba(10,10,10,0.2) 0%), url('<%= image_path 'pack' %>');">
  <div class="container">
    <div class="text">
      <p>L’objectif principal des packshot est d’illustrer le produit en se rapprochant au maximum de la réalité.</p>
      <p>Les retouches et possibilité de détourage sont réalisées par notre équipe.</p>
    </div>
  </div>
</div>
<div class="full-screen-container-xs hidden-md hidden-lg" style="background-image: url('<%= image_path 'pack' %>');">
  <div class="container">
    <div class="text-xs">
      <p>L’objectif principal des packshot est d’illustrer le produit en se rapprochant au maximum de la réalité.</p>
      <p>Les retouches et possibilité de détourage sont réalisées par notre équipe.</p>
    </div>
  </div>
</div>

