<div class="row">
  <div class="col-xs-12 col-md-6">



    <div class="card-port">
      <%= image_tag "cappucino.png", class: "photo-portfo" %>
      <h1 class="titre-port">NOS PHOTOS</h1>
      <%= link_to "", portfolio_photos_path, class: "carre" %>
    </div>



    </div>
    <div class="col-xs-12 col-md-6">
    <div class="card-port">
      <%= image_tag "recette.jpg", class: "photo-portfo"%>
      <h1 class="titre-port text-center">NOS STOP MOTIONS</h1>
      <%= link_to "", portfolio_motions_path, class: "carre" %>
    </div>
    </div>
</div>

