<div class="container">
  <div class="flex content hidden-xs hidden-sm">
    <%= image_tag 'presta', class: "photo-presta" %>
    <div class="text">
      <p>L’importance de la photo culinaire est d’intégrer le produit dans son contexte de consommation afin de lui donner un sens.</p>
      <p>Avec l’aide d’une styliste culinaire, le produit est valorisé dans une ambiance travaillée et en harmonie.</p>
    </div>
  </div>
  <div class="flex-column content hidden-md hidden-lg">
    <%= image_tag 'presta', class: "photo-presta-xs" %>
    <div class="text-xs">
      <p>  L’importance de la photo culinaire est d’intégrer le produit dans son contexte de consommation afin de lui donner un sens.</p>
      <p>Avec l’aide d’une styliste culinaire, le produit est valorisé dans une ambiance travaillée et en harmonie.</p>
    </div>
  </div>
</div>
