<div class="full-screen-container hidden-xs hidden-sm" style="background-image: linear-gradient(45deg, rgba(230,230,230,0.8) 43%, rgba(10,10,10,0.2) 0%), url('<%= image_path 'recette.jpg' %>');">
  <div class="container">
    <div class="text-cool">
      <p> Pixel & Béchamel crée et rédige des recettes innovantes et tendances!</p>
      <p>L’objectif est de mettre en avant vos produits en les intégrant à une recette de cuisine.</p>
      <p>Un cuisinier professionnel conçoit et réalise les recettes.</p>
    </div>
  </div>
</div>
<div class="full-screen-container-xs hidden-md hidden-lg" style="background-image: url('<%= image_path 'recette.jpg' %>');">
  <div class="container">
    <div class="text-xs">
      <p> Pixel & Béchamel crée et rédige des recettes innovantes et tendances!</p>
      <p>L’objectif est de mettre en avant vos produits en les intégrant à une recette de cuisine.</p>
      <p>Un cuisinier professionnel conçoit et réalise les recettes.</p>
    </div>
  </div>
</div>
