<div class="full-screen-container hidden-xs hidden-sm" style="background-image: linear-gradient(45deg, rgba(230,230,230,0.8) 43%, rgba(10,10,10,0.2) 0%), url('<%= image_path 'cappucino' %>');">
  <div class="container">
    <div class="text-gros">
      <p>Les Stop-Motions rassemblent la haute qualité des photographies culinaires et les mises en scène vidéo.</p>
      <p>Le studio prend en charge la totalité des Stop-Motions:</p>
      <p>- Plan de tournage</p>
      <p>- Proposition de musique</p>
      <p>- Création de générique entrée et fin</p>
      <p>- Intégration infographie</p>
      <p>Un cuisinier professionnel conçoit et réalise les recettes.</p>
    </div>
  </div>
</div>
<div class="full-screen-container-xs hidden-md hidden-lg" style="background-image: url('<%= image_path 'cappucino' %>');">
  <div class="container">
    <div class="text-gros-xs">
      <p>Les Stop-Motions rassemblent la haute qualité des photographies culinaires et les mises en scène vidéo.</p>
      <p>Le studio prend en charge la totalité des Stop-Motions:</p>
      <p>- Plan de tournage</p>
      <p>- Proposition de musique</p>
      <p>- Création de générique entrée et fin</p>
      <p>- Intégration infographie</p>
      <p>Un cuisinier professionnel conçoit et réalise les recettes.</p>
    </div>
  </div>
</div>

