  <div class="studio flex hidden-xs hidden-sm">
    <div class="part-right">
      <%= image_tag 'studio2.jpg', class: "photo-studio" %>
    </div>
    <div class="part-left">
      <div class="text-studio">
        <p> Le studio situé dans le 18ème arrondissement de Paris, est constitué d’une cuisine traditionnelle ouverte sur un large espace de shooting.</p>
        <p>Le studio peut être proposé en location: Lieu clair ouvert sur une terrasse accessible. Endroit parfait pour des dégustations, cocktails, et ateliers culinaires. Ambiance chaleureuse avec parquet et poutres "Eiffel".</p>
        <p>A découvrir !</p>
      </div>
      <div class="adresse">
        <p class="text-center"><em>14, rue de la Chapelle 75018 Paris</em></p>
        <p class="text-center"><em>Métro Marx Dormoy, ligne 12</em><%= image_tag 'metro.png', class: "metro" %></p>
      </div>
      <div class="box-prix">
        <p>85 euros TTC/heure</p>
      </div>
    </div>
  </div>


  <div class="studio hidden-md hidden-lg">
    <%= image_tag 'studio2.jpg', class: "photo-studio-xs" %>
      <p class="text-center"><em>14, rue de la Chapelle 75018 Paris</em></p>
      <p class="text-center"><em>Métro Marx Dormoy, ligne 12</em><%= image_tag 'metro.png', class: "metro" %></p>
    <div class="text-center">
      <p> Le studio situé dans le 18ème arrondissement de Paris, est constitué d’une cuisine traditionnelle ouverte sur un large espace de shooting.</p>
      <p>Le studio peut être proposé en location: Lieu clair ouvert sur une terrasse accessible. Endroit parfait pour des dégustations, cocktails, et ateliers culinaires. Ambiance chaleureuse avec parquet et poutres "Eiffel".</p>
      <p>A découvrir !</p>
    </div>
    <div class="box-prix">
      <p>85 euros TTC/heure</p>
    </div>
  </div>




