.banner-photos {
  height: 500px;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  h1 {
    font-weight: bold;
    color: white;
    text-align: center;
    margin: 0;
  }
}

.trait-souligne {
  width: 20%;
  border-bottom: 2px solid white;
  margin-top: 10px;
}

.trait-souligne-stop {
  width: 15%;
  border-bottom: 2px solid white;
  margin-top: 10px;
}

.youtube-videos {
  margin-top: 60px;
}

.video-youtube {
  margin-bottom: 30px;
}
