.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $green;
  padding-bottom: 10px;
  margin-bottom: 0 !important;
  a {
    text-decoration: none;
    color: $black;
    &:hover {
      color: $red;
      font-size: 19px;
      transition: 0.4s ease-in-out;
    }
  }
}

#navbar-prestations {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $green;
  a {
    color: $green;
    transition: color 0.5s ease-in;
    text-decoration: none;
    margin-right: 25px;
    font-size: 15px;
    padding-right: 100px;
    margin-bottom: 10px;
  }
  a:hover {
    font-style: italic;
    transition: font-style 1s ease-in;
    }
}

.opacity {
  a {color: $black !important;
  // transition: 1s ease-in;
}
}
