.navbar {
  display: flex;
  position: fixed;
  z-index: 20;
  top: 112px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  margin-bottom: 0 !important;
  height: 30px;
  color: $black;
  a {
    text-decoration: none;
    color: black;
    transition: 0.4s ease-in-out;
    color: $black;
    &:hover {
      color: $red;
      transform: scale(1.1);
    }
  }
}

#navbar-prestations {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding-right: 30%;
  height: 28px;
  color: $black;
  a {
    color: white;
    transition: color 0.5s ease-in;
    text-decoration: none;
    margin-right: 25px;
    font-size: 15px;
    padding-right: 60px;
    margin-bottom: 13px;
  }
  a:hover {
    font-weight: bold;
    transition: font-style 1s ease-in;
    }
}

.opacity {
  a {color: $black !important;
    z-index: 2;
  // transition: 1s ease-in;
  }
}

#navbar-portfolio {
  position: fixed;
  z-index: 20;
  top: 161px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 35px;
  color: white;
  a {
    color: white;
    transition: color 0.5s ease-in;
    text-decoration: none;
    margin-right: 25px;
    padding-right: 4%;
    margin-bottom: 13px;
    font-size: 15px;
  }

  a:hover {
    font-weight: bold;
    transition: font-style 1s ease-in;
    }
}

.opacity-port {
  a {color: $black !important;
    z-index: 2;
  // transition: 1s ease-in;
  }
}

.wrapper-links {
  width: 100%;
  margin-left: 25%;
  padding-bottom: 15px;
}
