.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  margin-bottom: 0 !important;
  height: 30px;
  color: $black;
  a {
    text-decoration: none;
    color: $black;
    &:hover {
      color: $red;
      font-size: 19px;
      transition: 0.4s ease-in-out;
    }
  }
}

#navbar-prestations {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding-right: 190px;
  height: 35px;
  color: $black;
  a {
    color: white;
    transition: color 0.5s ease-in;
    text-decoration: none;
    margin-right: 25px;
    font-size: 15px;
    padding-right: 60px;
    margin-bottom: 13px;
  }
  a:hover {
    font-style: italic;
    transition: font-style 1s ease-in;
    }
}

.opacity {
  a {color: $black !important;
    z-index: 2;
  // transition: 1s ease-in;
  }
}

#navbar-portfolio {
  position: absolute;
  top: 175px;
  left: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 35px;
  color: white;
  a {
    color: white;
    transition: color 0.5s ease-in;
    text-decoration: none;
    margin-right: 25px;
    font-size: 15px;
    padding-right: 100px;
    margin-bottom: 13px;
  }
  a:hover {
    font-style: italic;
    transition: font-style 1s ease-in;
    }
}

.opacity-port {
  a {color: $black !important;
    z-index: 2;
  // transition: 1s ease-in;
  }
}
