<div class="banner-photos" style="background-image: url( <%= image_path "stopcover.jpg" %>);">
  <h1>STOP-MOTIONS</h1>
  <div class="trait-souligne">
  </div>
</div>

<div class="container">
  <div class="row">
    <% @portfolio_motions.reverse.each do |p| %>
      <div class="col-xs-12 col-md-4">
        <iframe width="350" height="215" src="https://www.youtube.com/embed/<%= p.video %>" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    <% end %>
  </div>



  <% if current_user&.admin  %>
    <div class="form-cache">
      <%= render 'portfolio_motions/form', portfolio_motion: @portfolio_motion %>
      <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
    </div>
  <% end %>
</div>

